.hero .photo {
  margin: 1rem 3rem 1rem 3rem;
  width: 60%;
}
.hero .photo img {
  width: 50%;
  border-radius: 30px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}
.hero .hero-content {
  width: 60%;
  margin: 0rem 3rem 0rem 3rem;
}

.hero h3,
h1,
h2 {
  color: #eee;
}
.hero h1 {
  font-size: 40px;
  line-height: 7vh;
}
.hero h2 {
  font-size: 29.5px;
  line-height: 7vh;
}

.hero .btn_section .link-contact {
  background: none;
}
.hero .btn_section .link-contact .btn-contact {
  width: 200px;
  height: 63px;
  background: #0000009e;
  border: none;
  color: #eee;
  font-size: 20px;
  border-radius: 8px;
  margin: 1rem;
}
.hero .btn_section .link-contact .btn-contact:hover {
  background: #000000db;
  color: #ffffff;
  transform: translateY(2px);
}
.hero .btn_section .link-contact .btn-contact:active {
  transform: translateY(4px);
}
.hero .btn_section .btn-branding {
  text-decoration: none;
  width: 200px;
  height: 63px;
  background: #0000009e;
  color: #eee;
  font-size: 20px;
}
.hero .btn_section .btn-branding:hover {
  background: #000000db;
  color: #ffffff;
  transform: translateY(2px);
}
.hero .btn_section .btn-branding:active {
  transform: translateY(4px);
}

.hero .btn_section .sendToPdfFiller {
  display: none;
  visibility: hidden;
}
@media (max-width: 768px) {
  .hero {
    display: flexbox;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero .hero-content {
    margin: 0 auto;
    width: 90vw;
  }
  .hero h1 {
    font-size: 18px;
    margin: 0;
  }

  .hero h2 {
    font-size: 15px;
    margin: 0;
  }
  .hero h3 {
    margin: 0;
  }

  .hero .btn_section {
    padding: 1rem;
  }
  .hero .btn_section .btn-branding,
  .hero .btn_section .link-contact .btn-contact {
    margin: 0rem 1rem 0 1rem;
    width: 102px;
    height: 50px;
    font-size: 12px;
    border-radius: 80px;
  }

  .hero .photo {
    width: 50%;
    margin: 0;
  }
  .hero .photo img {
    width: 95%;
  }
}
