#portfolio {
  margin: 0 1rem 0 1rem;
}
.container-fluid {
  box-sizing: border-box;
  max-width: 100%;
  background: #eeeeee42;
  padding: 1.5rem;
}

.heading h3 {
  color: #ff9f4f;
  padding-bottom: 1rem;
}
.card_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.card .img {
  width: 60%;
}
.card_wrapper .card {
  margin: 0 auto;
  height: 80vh;
  border: 1px solid #eeeeeea0;
}
.card .card_body .title {
  font-size: 28px;
}

.card .card_body {
  color: #ff9f4f;
  line-height: 5vh;
}
.card .btn {
  width: 200px;
  height: 55px;
  padding: 0.7rem;
  background: #eeeeee66;
  color: #ff9f4f;
  font-size: 18px;
}

.card .btn:hover {
  background: #cd863f6b;
  color: #eeeeeea0;
  transform: translateY(2px);
}

.card .btn:active {
  transform: translateY(4px);
}
@media (max-width: 768px) {
  .card_wrapper {
    display: block;
    margin: 0 auto;
  }
  .heading h3 {
    padding: 0;
  }
  .card_wrapper .card {
    height: 63vh;
    background: none;
    margin: 1rem 0 0 0;
    border: 1px solid #eeeeeea0;
  }
  .card .card_body .title {
    font-size: 20px;
  }
  .card .card_body .desc {
    font-size: 13px;
  }
  .card .img {
    width: 90%;
  }
}
