@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Share+Tech+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Share Tech Mono", monospace;
}

.background_img {
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}


footer .footer_container {
  display: flex;
  justify-content: center;
}
footer .footer_container img {
  width: 50px;
}
footer .footer_container p {
  margin: 1rem;
  color: #eee;
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
}
@media (max-width: 768px) {
  footer .footer_container img {
    width: 40px;
  }
  footer .footer_container p {
    margin: 0.8rem;
    font-size: 10px;
  }
}
