@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Share+Tech+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Share Tech Mono", monospace;
}

.App video {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

header .navbar .nav-links .nav-link {
  transition: 0.5s;
  font-size: 18px;
  font-weight: 500;
  color: #ff9f4f;
  font-family: "JetBrains Mono", monospace;
}

.navbar .navbar-brand img {
  width: 70px;
}
header .navbar {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1rem 0 1rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(90, 92, 106, 0.511) 0%,
    rgba(32, 45, 58, 0.515) 81.3%
  );
}
footer .footer_container {
  display: flex;
  justify-content: center;
}
footer .footer_container img {
  width: 50px;
}
footer .footer_container p {
  margin: 1rem;
  color: #ff9f4f;
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
}
@media (max-width: 768px) {
  footer .footer_container img {
    width: 40px;
  }
  footer .footer_container p {
    margin: 0.8rem;
    font-size: 10px;
  }
}
